<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <meta name="description" content="{{ if .Params.Description }}{{ .Params.Description }}{{ else }}A place for my meandering{{ end }}">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    {{ $style := resources.Get "styles.scss" | toCSS | minify | fingerprint }}
    <!-- <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}"> -->
    <!-- Inline the styles rather than link to them? -->
    <style>{{ $style.Content | safeCSS }}</style>


    {{ $fontFamily := "https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,700;1,700&family=Oxygen:wght@400;700&display=swap" }}
    <link rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin />

    <link rel="preload"
      as="style"
      href="{{ $fontFamily }}&display=swap" />

    <link rel="stylesheet"
      href="{{ $fontFamily }}&display=swap"
      media="print" onload="this.media='all'" />

    <noscript>
      <link rel="stylesheet"
        href="{{ $fontFamily }}&display=swap" />
    </noscript>
  </head>

  <body>
    <header>
      <p><a class="active" href="/">Posts</a></p>
      <p><a href="/projects">Projects</a><a href="/contact">Contact</a></p>
    </header>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    <div class="footer-wrapper">
      {{ $footerLineOne := resources.Get "footer-line-1.svg" }}
      {{ $footerLineTwo := resources.Get "footer-line-2.svg" }}
      <img class="line-one" src="{{ $footerLineOne.Permalink }}">
      <img class="line-two" src="{{ $footerLineTwo.Permalink }}">
      <footer>
        <p>Check me out on <a href="https://github.com/adrhumphreys/">Github</a>. <br/> Made in NZ, by Adrian <br>Get in touch via: <a href="mailto:adrhumphreys@gmail.com">adrhumphreys@gmail.com</a>,<br> I would ❤️ to hear from you</p>
      </footer>
    </div>
  </body>
</html>
