<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <meta name="description" content="{{ if .Params.Description }}{{ .Params.Description }}{{ else }}A place for my meandering{{ end }}">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    {{ $style := resources.Get "styles.scss" | toCSS | minify | fingerprint }}
    <!-- <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}"> -->
    <!-- Inline the styles rather than link to them? -->
    <style>{{ $style.Content | safeCSS }}</style>


    {{ $fontFamily := "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&family=Zilla+Slab:ital,wght@0,700;1,500" }}
    <link rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin />

    <link rel="preload"
      as="style"
      href="{{ $fontFamily }}&display=swap" />

    <link rel="stylesheet"
      href="{{ $fontFamily }}&display=swap"
      media="print" onload="this.media='all'" />

    <noscript>
      <link rel="stylesheet"
        href="{{ $fontFamily }}&display=swap" />
    </noscript>
  </head>

  <body>
    <header>
      <p><a href="/">🌸 Posts</a></p>
    </header>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    <footer>
      <p>Check out my other half finished projects on <a href="https://github.com/adrhumphreys/">Github</a>. <br/> Made in NZ, by Adrian</p>
    </footer>
  </body>
</html>