{{ define "main" }}

{{ $jetplaneMobile := resources.Get "jetplane-mobile.svg" }}
{{ $jetplaneTablet := resources.Get "jetplane-tablet.svg" }}
{{ $jetplaneDesktop := resources.Get "jetplane-desktop.svg" }}

<div class="intro-container">
    <div class="intro">
        <h1>Contact me.</h1>
        <p>I prefer mail</p>
        <picture>
          <source media="(min-width: 1280px)" srcset="{{$jetplaneDesktop.Permalink}}">
          <source media="(min-width: 1024px)" srcset="{{$jetplaneTablet.Permalink}}">
          <img src="{{ $jetplaneMobile.Permalink }}">
        </picture>
    </div>
</div>

<div class="post">{{.Content}}</div>

{{ end }}
