@import "monokai";

$pink: #FFF0EB;
$blue: blue;
$paragraphColor: #333;
$paragraphFont: 'Open Sans', sans-serif;

html {
	background-color: $pink;
}

body {
	background-color: white;
	color: $paragraphColor;
	font-family: $paragraphFont;
	line-height: 1.5;
  	margin: 0;
}

main, header p, footer p {
	max-width: 888px;
	margin-left: auto;
	margin-right: auto;
  	padding-left: 20px;
  	padding-right: 20px;
}

header, footer {
	background-color: $pink;
	padding-top: 15px;
	padding-bottom: 15px;


	p {
		margin-top: 0;
		margin-bottom: 0;
	}
}

header {
	margin-bottom: 20px;

	a {
		color: #333;
	}
}

img {
	height: auto;
	max-width: 100%;
	margin: 10px auto;
	display: block;
}

iframe {
	width: 100%;
}

a {
	text-decoration: none;
	color: $blue;
}

h1 {
	display: inline;
	border-top-left-radius: 1em;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 0px;
	background-image: linear-gradient(-100deg, rgba(255, 250, 150, 0.14902), rgba(255, 250, 150, 0.8) 100%, rgba(255, 250, 150, 0.247059));

	a {
		color: $paragraphColor;
	}
}

.posts {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		margin-bottom: 20px;
	}
}


// Lists don't have p tags with our markdown processer
li code,
p code, {
	background-color: #F6F6F6;
	border: 1px solid #b9b9b9;
	border-radius: 4px;
	color: #E01E5A;
    padding: 2px 5px;
}

blockquote {
	padding-left: 1em;
    margin-left: 0;
    border-left: 5px solid #607D8B;
    padding-top: 5px;
    padding-bottom: 5px;
}