@import "monokai";

$pink: #FFF2FC;
$blue: blue;
$paragraphColor: #333;
$paragraphFont: "Open Sans", sans-serif;
$headerFont: "Zilla Slab", serif;

html {
	background-color: $pink;
}

body {
	background-color: white;
	color: $paragraphColor;
	font-family: $paragraphFont;
	line-height: 1.5;
	margin: 0;
	word-break: break-word;
}

h1 {
	font-size: 1.8rem;
}

h2 {
	margin-top: 2rem;
}

h1,
h2 {
	font-family: $headerFont;
	margin-bottom: 0.2rem;
	line-height: 1.2;

	a {
		color: $paragraphColor;
	}
}

main,
header p,
footer p {
	max-width: 768px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

header,
footer {
	background-color: $pink;
	padding-top: 15px;
	padding-bottom: 15px;

	p {
		margin-top: 0;
		margin-bottom: 0;
	}
}

header {
	background-color: $pink;
	margin-bottom: 20px;

	a {
		color: #333;
		font-weight: 600;
	}
}

footer {
	margin-top: 50px;
}

img {
	height: auto;
	max-width: 100%;
	margin: 10px auto;
	display: block;
}

iframe {
	width: 100%;
}

a {
	text-decoration: none;
	color: $blue;
}

.posts {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		margin-bottom: 20px;
	}

	p {
		font-style: italic;
		margin-top: 0;
		margin-bottom: 0.2rem;
	}
}

hr {
	max-width: 550px;
	margin: 30px 0 10px;
}

// Lists don't have p tags with our markdown processer
li code,
p code {
	background-color: #eee;
	padding: 2px 5px;
}

blockquote {
	margin: 0;
	font-family: $headerFont;
	font-weight: 500;
	font-style: italic;
	font-size: 1.5rem;
	padding: 20px 40px;

	p {
		position: relative;
		margin: 0;
	}
}

//kelly
