{{ define "main" }}

{{ $jetplaneMobile := resources.Get "jetplane-mobile.svg" }}
{{ $jetplaneTablet := resources.Get "jetplane-tablet.svg" }}
{{ $jetplaneDesktop := resources.Get "jetplane-desktop.svg" }}

<div class="intro-container">
    <div class="intro">
        <h1>Kia Ora!  I’m Adrian.</h1>
        <p>Developer of sorts </p>
        <picture>
          <source media="(min-width: 1280px)" srcset="{{$jetplaneDesktop.Permalink}}">
          <source media="(min-width: 1024px)" srcset="{{$jetplaneTablet.Permalink}}">
          <img src="{{ $jetplaneMobile.Permalink }}">
        </picture>
    </div>
</div>

<div class="post" style="margin-top: 90px; text-align: center;">
    <h1>I've done bad on the web and made a 404</h1>
    <p>Aroha mai whānau</p>
</div>

{{ end }}
