{{ define "main" }}

{{ $jetplaneMobile := resources.Get "jetplane-mobile.svg" }}
{{ $jetplaneTablet := resources.Get "jetplane-tablet.svg" }}
{{ $jetplaneDesktop := resources.Get "jetplane-desktop.svg" }}

<div class="intro-container">
    <div class="intro">
        <h1>Kia Ora! I’m Adrian.</h1>
        <p>Developer of sorts </p>
        <picture>
          <source media="(min-width: 1280px)" srcset="{{$jetplaneDesktop.Permalink}}">
          <source media="(min-width: 1024px)" srcset="{{$jetplaneTablet.Permalink}}">
          <img src="{{ $jetplaneMobile.Permalink }}">
        </picture>
    </div>
</div>

<ul class="posts">
    <p class="label">Posts</p>
    {{ range (where .Site.RegularPages "Section" "posts") }}
        <li>
            <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
            <p>{{ .Description }}</p>
            <time>{{ .Date.Format "Monday, 2 January, 2006" }}</time>
        </li>
    {{ end }}
</ul>

{{ end }}
